@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue/HelveticaNeue.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
